<html>
<head>
  <title>CoachApp</title>
  <link rel="stylesheet" type="text/css" href="styles/skeleton.css">
  <link rel="stylesheet" type="text/css" href="styles/normalize.css">
</head>
<body>

  <h1>THIS IS AN APP DONE BY THE CICADAS, BRUH!</h1>

<%= yield %>

</body>
</html>