<!-- add a coach form -->
<!-- 3 things in every form -->
<!-- a method -->
<!-- an action -->
<!-- a submit -->
<form method="POST" action="/create">
  <input type="text" name="coach_name">
  <input type="submit" value="Add coach">
</form>